<header id="header" class="header">

	<div class="container">
		<div class="header_top">
			
			<div class="header_top_wr">
	        	<div class="header_top_in flex_box flex_end flex_middle flex_wrap">

	        		<div class="header_email">
	        			<i class="icon-close-envelope"></i>
	        			<a href="mailto:m.zhilikov@mail.ru">m.zhilikov@mail.ru</a>
	        		</div>
	        		
	        		<div class="header_phone">
	        			<i class="icon-phone">
							<img src="../images/icons/icon_phone.png" alt="">
	        			</i>
	        			<a href="tel:89259421117">8 (925) 942-11-17</a>
	        			<span>|</span>
	        			<a href="tel:89055837888">8 (905) 583-78-88</a>
	        		</div>
	        		<div class="header_top_btn_wr">
	        			<a href="whatsapp://send?phone=89055837888" class="btn_social" style="background-color: #25d366;">
	        				<i class="icon-whatsapp"></i>
	        				<span>WhatsApp</span>
	        			</a>
	        			<a href="viber://chat?number=89055837888" class="btn_social" style="background-color: #665cac;">
	        				<i class="icon-viber-logo"></i>
	        				<span>Viber</span>
	        			</a>
	        			<a href="tg://resolve?domain=nikname" class="btn_social" style="background-color: #0088cc;">
	        				<i class="icon-telegram2"></i>
	        				<span>Telegram</span> 
	        			</a>
	        		</div>
	        	</div>
        	</div>
		
		</div>
		
		<div class="header_middle">
		
			<div class="flex_box flex_between">

				<div class="logo">
					<a href="index.html"></a>
				</div>
				
				<div class="btn_nav"><span></span></div>

	        	<div class="header_middle_in header_resp_nav flex_box flex_between flex_bottom">

	    			<nav class="nav">
	    				<ul class="navbar_nav">
	    					<li><a href="#box_3_scrollto" class="scrollto">Наши преимущества</a></li>
	    					<li><a href="#box_4" class="scrollto">Схема работы</a></li>
	    					<li><a href="#box_5" class="scrollto">Наши услуги</a></li>
	    					<li><a href="#box_6" class="scrollto">Почему мы</a></li>
	    					<li><a href="#box_8" class="scrollto">О нас</a></li>
	    					<li><a href="#box_9" class="scrollto">Отзывы</a></li>
	    					<li><a href="#footer" class="scrollto">Контакты</a></li>
	    				</ul>
	    			</nav>        		

	        	</div>

	    	</div>
			
			
		</div>
	</div>




</header>
